.botao {
    border: none;
    padding: 0.7rem 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #ba4e2e;
    border-radius: 6px;
    box-shadow:  0 4px 4px rgba(0, 0, 0,0);
    max-width: 500;
    display: flex;
    transition: backgrouond-color 0.3;
    margin: 0.7rem;
}

.botao:hover {
    background-color: #a03e1e;

}

.formulario {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    .formulario label {
        display: flex;
    }

.formulario input {
    border: 1px #ba4e2e solid;
    border-radius: 0.3rem;
    width: 600px;
    padding: .75rem 0;
}
.formulario img {
    width: 300px;

}

